[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[[source]]
name = "testpypi"
url = "https://test.pypi.org/simple"
verify_ssl = true

[dev-packages]
pytest = "*"

[packages]
tbcs-api-client = "==0.22"
robotframework = "~=3.2"
twine = "*"

[requires]
python_version = "3.8"
